
<html>
<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
      
          <div class="main">
      
            <h3>Registeration Page</h3>
            <!-- <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
              </div>
            </div> -->
            <!-- <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
             -->
            
    <form >
    <small class="text-danger">{{msg}}</small>

    <div class="form-group">
        <label for="Fullname">Firstname:</label>
        <input type="text" class="form-control" placeholder="Enter your Firstname" required  name="fullname" [(ngModel)]="user.fullname">
        <!-- <div *ngIf="fullname.errors && (fullname.invalid && fullname.touched)">
          <small class="text-danger" *ngIf="fullname.errors.required">Fullname is required</small>
          <small class="text-danger" *ngIf="fullname.errors.pattern">Enter only text [A-za-z]</small>
      </div> -->
    </div>

    <div class="form-group">
        <label for="Surname">Surname:</label>
        <input type="text" class="form-control" placeholder="Enter your Surname" required  [(ngModel)]="user.surname">
        <!-- <div *ngIf="surname.errors && (surname.invalid && surname.touched)">
          <small class="text-danger" *ngIf="surname.errors.required">Surname is required</small>
          <small class="text-danger" *ngIf="surname.errors.pattern">Enter only text [A-za-z]</small>
      </div> -->
    </div>

    <div class="form-group">
        <label for="email">Email:</label>                                       
        <input type="text" class="form-control" placeholder="enter mailid" required 
        name="mailid" [(ngModel)]="user.mailid">
        <!-- <small class="form-text text-muted" [class.d-none]="mailid.valid || mailid.untouched"> mailid is required </small> -->
        <!-- <div *ngIf="mailid.errors && (mailid.invalid && mailid.touched)">
            <small class="text-danger" *ngIf="mailid.errors.required">Emailid is required</small>
            <small class="text-danger" *ngIf="mailid.errors.pattern">Enter email is not valid</small>
        </div> -->
    </div>

    <div class="form-group">
        <label for="phonenumber">phonenumber:</label>
        <input type="number" class="form-control" placeholder="Enter your phonenumber" required  name="phonenumber" [(ngModel)]="user.phonenumber">
        <small class=text-blue>Enter your country code but don't use special characters like(+) </small>
        <!-- <div *ngIf="phonenumber.errors && (phonenumber.invalid && phonenumber.touched)">
          <small class="text-danger" *ngIf="phonenumber.errors.required">phonenumber is required</small>
          <small class="text-danger" *ngIf="phonenumber.errors.pattern">Enter phonenumber is not valid</small>
      </div> -->
    </div>
    
    <!-- <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" class="form-control" placeholder="Enter your Address" required name="address" [(ngModel)]="user.address">
        <small>It includes D.No, place, locality</small>
    </div> -->

      
    <div class="form-group">
        <label for="inputPassword">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" required name="password" [(ngModel)]="user.password">
        <!-- <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small class="text-danger" *ngIf="password.errors.required">password is required</small>
          <small class="text-danger" *ngIf="password.errors.pattern">Enter password is not Strong</small>
      </div> -->
    </div>

    <!-- <div class="form-group">
        <label for="confirmPassword">ConfirmPassword:</label>
        <input type="password" class="form-control" placeholder="Enter Confirm Password" required #cpassword="ngModel" name="cpassword" (ngModel)="user.cpassword"
        [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value==password.value) || cpassword.untouched">password and confirm password must be same</small>
    </div> -->


      <button   (click)="RegisterUser()"   type="button" class="btn btn btn-primary">
        Register
      </button >
    </form>
</div>     
</div>
</div>
</body>
</html>